<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
    <div class="row" >
        <div class="col-md-3"></div> 
        <div class="col-md-6">
            <div class="info-angular6">
                <h3>Angualr6 Basic Setup</h3>
                <p>We setuping angular6 by using all basic component, service, routing, canActive...</p>
                <p>- <code>By Ramesh M</code></p>
            </div>
        </div> 
        <div class="col-md-3"></div>        
    </div>
    <div class="row" >
        <div class="col-md-3"></div> 
        <div class="col-md-6">
            <div class="info-angular6">
                <code>
                    <ul>
                        <li>/login</li>
                        <li>/register</li>
                        <li>/employee</li>
                        <li>/teamleader</li>
                    </ul>
                </code>
                <router-outlet></router-outlet>
            </div>
        </div> 
        <div class="col-md-3"></div>        
    </div>
</div>


