/* You can add global styles to this file, and also import other style files */
.wrapper-page {
    margin: 5% auto;
    position: relative;
    width: 420px;
}
.info-angular6{
    margin-top: 5%;
    background:#f1f1f1;
    padding: 25px;
}
